body {
  padding: 0px;
  margin: 0px;
}

/**-----------HEADER-----------**/

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: black 1px solid;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
}

.logo_side_container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  width: 155px;
  position:;
}

.nav_side_container {
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  width: 250px;
  padding-right: 60px;
  flex-wrap: wrap;
}

.header_words {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.my_times_header_txt {
  align-self: center;
}

/**-----------BODY-----------**/

/**-------Large Container CSS-------**/
.body_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;

}

.large_container {
  border: black 1px solid;
  display: flex;
  justify-content: space-between;
  width: 630px;
  padding: 0px 10px;
}

.large_1 {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
}

.large_2 {
  border: black 1px solid;
}

.large_3 {
  border: black 1px solid;
}


/**-------Medium Container CSS-------**/
.medium_container {
  border: black 1px solid;
  width: 300px;
  padding: 0px 10px;
}

.medium_1 {
  border: black 1px solid;
}

.medium_2 {
  border: black 1px solid;
}

/**-------Small Container CSS-------**/
.small_container {
  border: black 1px solid;
  width: 240px;
  padding: 0px 10px;
}

.small_1 {
  border: 1px black solid;
}
