body {
  padding: 0px;
  margin: 0px;
}

/**-----------HEADER-----------**/

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: black 1px solid;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  background-color: white;
}

.logo_side_container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  width: 17.5%;
}

.nav_side_container {
  display: flex;
  justify-content: space-between;
  border: 1px black solid;
  width: 28%;
}

.header_words {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.my_times_header_txt {
  align-self: center;
}

/**-----------BODY-----------**/

/**-------Large Container CSS-------**/
.large_container {
  border: black 1px solid;
  display: inline-flex;
  justify-content: space-between;
}

.large_1 {
  border: black 1px solid;
}

.large_2 {
  border: black 1px solid;
}

.large_3 {
  border: black 1px solid;
}


/**-------Medium Container CSS-------**/
.medium_container {
  border: black 1px solid;
}

.medium_1 {
  border: black 1px solid;
}

.medium_2 {
  border: black 1px solid;
}

/**-------Small Container CSS-------**/
.small_container {
  border: black 1px solid;
}

.small_1 {
  border: 1px black solid;
}
